#!/bin/bash

# Dependencies
DEPENDENCIES=(
    "python"
    "java-11-openjdk"
    "gcc"
    "jp2a"
    "docker"
    "mpv"
)

# Python packages
PYTHON_PACKAGES=(
    "pillow"
    "requests"
)

# Install system dependencies
for dep in "${DEPENDENCIES[@]}"; do
    echo "Installing $dep..."
    sudo apt-get install -y "$dep"
done

# Install Python packages
echo "Installing Python packages..."
sudo pip install "${PYTHON_PACKAGES[@]}"

sudo pip install Gif2Asc-TerminalMotion/Gif2Asc/Engine/MidiaConvertion/TerminalLib -e .

echo "All dependencies installed!"
